.zvity {
  background: -webkit-gradient(linear, left top, right top, color-stop(-1.25%, #E8F9FF), color-stop(19.32%, #ECF9FE), to(#FFFBE5));
  background: -o-linear-gradient(left, #E8F9FF -1.25%, #ECF9FE 19.32%, #FFFBE5 100%);
  background: linear-gradient(90deg, #E8F9FF -1.25%, #ECF9FE 19.32%, #FFFBE5 100%);
}

.zvity .h1 {
  margin-top: 60px;
  margin-bottom: 50px;
}

.zvity .h3 {
  margin-bottom: 36px;
}

:root {
  --swiper-theme-color: #FFD700 !important;
}

@media (max-width: 1250px) {
  .zvity .h1 {
    margin-top: calc(
        23px + 37 *
          (
            (100vw - 320px) / 930
          )
      );
  }

  .zvity .h1 {
    margin-bottom: calc(
        35px + 15 *
          (
            (100vw - 320px) / 930
          )
      );
  }

  .zvity .h3 {
    margin-bottom: calc(
        24px + 12 *
          (
            (100vw - 320px) / 930
          )
      );
  }
}